.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.hero-image-container img {
  width: 100%;
  height: -webkit-fill-available;
  max-height: 50vh;
  object-fit: cover;
}
