.searchBar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-search input {
  border: 1px solid white;
  background-color: white;
}

.hero-search input::placeholder {
  color: #b9b9b9;
  font-weight: 500;
  font-size: 18px;
}

.searchBar {
  margin-top: 30px;

  border-radius: 40px;
  padding: 20px 0px;
  padding-left: 80px;
  padding-right: 30px;
  width: 60vw;

  border: 1px solid #fdecec;
  background: url('../../assets/busca/Lupa/Shape.png') no-repeat scroll 24px 18px;
  background-color: #fdecec;
}

.searchBar::placeholder {
  color: #ff1510;
  font-weight: 500;
  font-size: 18px;
}
